@font-face {
    font-family: "libra";
    src: url("/static/fonts/LibreCaslonDisplay-Regular.ttf");
}
body {
    font-family: libra;
}
/* the header bar */
header {
    background-color: #228822;
    margin-top: -8px;
    margin-right: -8px;
    margin-left: -8px;
    height: 80px;
}

.menubar {
    display: inline;
    padding-left: 8%;
    padding-right: 8%;
}

.menubar a {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

/* the footer */
#fullcontainer {
    min-height: 100%;    
}

footer {
}

footer p {
    display: inline;
}
/* the home page */
#home {
    font-weight: bold;
    position: relative;
    text-align: center;2
}

#home img {
    width: 100%;
}

#home #topquote {
    position: absolute;
    top: 10%;
    left: 10%;
}

#home #bottomquote {
    position: absolute;
    top: 20%;
    left: 20%;
}

#home p {
    color: whitesmoke;
    font-size: xx-large;
}

/* the about page */
.page {
    margin-top: 10%;
}

#profile {
    width: 100%;
}

.left {
    margin-left: 10%;
    width: 35%;
    float: left;
}

.right {
    margin-left: 10%;
    margin-right: 10%;
    float: right;
    width: 35%;
    font-size: 20px;
}

.right h1 {
    text-align: center;
}

/* The contact page */
#contact_wrapper {
    padding: 20px;
    boarder-radius: 5px;
    background-color: #f2f2f2;
}

#contact_wrapper input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#contact_wrapper input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contact_wrapper #message {
    resize: none;
    width: 100%;
}

/* service page */
#services li {
    list-style: none;
}

#services li img {
    width: 250px;
}
#services li p {
    display: none;
}
