/* the header bar */
header {
    background-color: #228822;
    margin-top: -8px;
    margin-right: -8px;
    margin-left: -8px;
    height: 80px;
}

.menubar {
    display: inline;
    padding-left: 8%;
    padding-right: 8%;
}

.menubar a {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

/* the footer */
#fullcontainer {
    min-height: 100%;    
}

footer {
}

footer p {
    display: inline;
}
/* the home page */
#home {
    position: relative;
    text-align: center;2
}

#home img {
    width: 100%;
}

#home #topquote {
    position: absolute;
    top: 10%;
    left: 10%;
}

#home #bottomquote {
    position: absolute;
    top: 20%;
    left: 20%;
}

#home p {
    background-color: #FFFFFF77;
    color: black;
    font-size: xx-large;
    fontfamily: "Arial", sans-serif;
}

/* the about page */
.page {
    margin-top: 10%;
}

#profile {
    width: 100%;
}

.left {
    margin-left: 10%;
    width: 35%;
    float: left;
}

.right {
    font-family: "Arial", sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    float: right;
    width: 35%;
}
