{% extends "base.html" %}
{% block title %}About | {% endblock %}

{% block content %}
<div class="page">
  <div id="abouttop">
    <img id="profile" src="static/img/profile.JPG" alt="Sherry Thomas">
    <p id="credentials">
      Sherry Thomas <br> MA, LMHC, SUDP
    </p>
  </div>
  <div id="sherrythomas" class="about">
    <p>I am a psychodynamic, relational, somatic, and experiential therapist. I treat a range of problems: mood
      disorders, psychosis, anxiety, and other forms of distress; I specialize in treatment of trauma. My work with clients is integrative, humanistic, client centered, and rooted
in neuroscience. I help clients uncover, understand, and metabolize their deeper motivations and emotions. As they become aware of their subconscious, they discover clarity and choice, and their lives begin to change.<br><br>
      I support clients with emotional regulation, interpersonal communication, and learning mindfulness. My work aims to nourish, support and ground, through connection, compassion and awareness.<br><br>
      I am a master's level Licensed Mental Health Counselor in the state of Washington, LMHC #: LH61141780. I am also a certified Substance User Disorder Professional, SUDP #: CP60616352.
     </p>
  </div>

  <div id="history" class="about">
    <h1> History </h1>
    <p>Like yours, my life is complex and always changing. I have worked in cafes, advertising agencies, early childhood education, out-patient clinics, and public schools. I have experienced betrayal, violence, & loss of beloveds. I know how it is to fail. I know what addiction feels like. I am familiar with feeling alone in a crowd, scared in my own home; not having enough to get by.<br><br> I have also experienced deep love, connection, loyalty, joy, safety, success, and empowerment. I know recovery well and understand there are many ways to get there. When I am not working, I like to spend my time engaging with family, music, exercise, gardening, reading, writing, creating art, in meditation and study. I love drinking tea, especially matcha!</p>
  </div>


  <div id="training" class="about">
    <h1> Training </h1>
    <p>
After completing my graduate program in psychology, specializing in counseling from the LIOS program at Saybrook University, I have been trained in Sensorimotor Psychotherapy, Trauma Resiliency Model (TRM), Eye Movement Desensitization and Reprocessing (EMDR), Cognitive Behavioral Therapy (CBT), Cognitive Behavioral Therapy for psychosis (CBTp), Internal Family Systems (IFS), Acceptance and Commitment Therapy (ACT), Lifespan Integration, Nutritional and Integrative Medicine for Mental Health, Mindfulness, Accelerated Experiential Dynamic Psychotherapy (AEDP), Gabor Maté’s Compassionate Inquiry, Deep Brain Reorienting (DBR), Interpersonal Neurobiology (IPNB), Coherence Therapy, and Scientific Intersections and Clinical Applications of Dharma at Spirit Rock Insight Meditation Center.
      <br><br>
I am an active member of the Northwest Alliance for Psychoanalytic Study. I have been engaging in mindfulness practice for over 19 years. Deepening my understanding of psychology is a never-ending journey. Currently I am participating in a 7-month weekly study group, “Minding the Heart” with Dr. Tori Olds. Its focus is on skills and theory supporting all experimental methods, specifically integration between IFS, AEDP and Coherence Therapy.
    </p>
  </div>
</div>
{% endblock %}
