{% extends "base.html" %}
{% block title %}About | {% endblock %}

{% block content %}
<div class="page">
  <img id="profile" src="static/img/profile.JPG" alt="Sherry Thomas">
  <div id="sherrythomas" class="about">
    <h1> Sherry Thomas <br> MA, LMHCA, SUDT</h1>
    <p>I am a psychodynamic, relational, and experiential therapist. I treat a range of problems: mood
      disorders, psychosis, and other forms of distress; I specialize in treatment of trauma. My work with clients is integrative, humanistic and client centered. I help clients uncover, understand, and metabolize their deeper motivations and emotions. As they become aware of their subconscious, they discover clarity and choice, and their lives begin to change.<br><br>
      I support clients with emotional regulation, interpersonal communication, and learning mindfulness. My work aims to nourish, support and ground through connection, compassion, and awareness.<br><br>
      I am a master&#39;s level Licensed Mental Health<br>
      Counselor Associate in the State of Washington<br>
      LMHCA #: MC60881858. My work is supervised by<br>
      Leah Gardner, MS, LMHC #: LH 00005800. I am<br>
      also a licensed Substance Use Disorder<br>
      Professional, SUDP #: CP60616352</p>
  </div>

  <div id="history" class="about">
    <h1> History </h1>
    <p>Like yours, my life is complex and always changing. I have worked in cafes, advertising, early childhood education, out-patient clinics, and public schools. I have experienced betrayal, violence, & loss of beloveds. I know how it is to fail. I know what addiction feels like. I am familiar with feeling alone in a crowd, scared in my own home; not having enough to get by.<br><br> I have also experienced deep love, connection, loyalty, joy, safety, success, and empowerment. I know recovery well and understand there are many ways to get there. When I am not working, I like to spend my time engaging with music, exercise, cooking, reading, family, writing, creating art, in meditation and study. I love drinking tea and an occasional coffee.</p>
  </div>


  <div id="training" class="about">
    <h1> Training </h1>
    <p>After completing my graduate program in psychology, specializing in counseling from the LIOS program at Saybrook University, I have been trained in Sensorimotor Psychotherapy, Trauma Resiliency Model, EMDR, CBT+, CBTp, Internal Family Systems, Acceptance and Commitment Therapy, Lifespan Integration, Nutritional and Integrative Medicine for Mental Health, and Mindfulness.<br><br> I am an active member of the Northwest Alliance for Psychoanalytic Study. I have been engaging in mindfulness practice for over 15 years. Deepening my understanding of psychology is a never-ending journey; my current educational endeavor is with The Seattle Psychoanalytic Society and Institute.</p>
  </div>
</div>
{% endblock %}
