{% extends "base.html" %}

{% block title %}Acceptance and Commitment Therapy{% endblock %}

{% block content %}
<div class="top">
  <img src="static/img/brain.png" id="serviceimg">
  <div id="servicequote">
    <p>“If you always do what you’ve always did, you’ll always get what you’ve always got.” <br> -“Moms” Mabley</p>
  </div>
</div>

<div class="below">
  <h1>Acceptance and Commitment Therapy (ACT)</h1>
  <p>The goal of ACT therapy is for clients to develop psychological flexibility. Clients learn to accept that pain and discomfort are a part of life, and how not to get stuck in them, thereby allowing possibility to create a rich and meaningful life. ACT uses the following core principles: diffusion, acceptance, contact with the present moment, the observing self, values and committed action. When implemented, clients can effectively handle unpleasant and unwanted thoughts, images, feelings, sensations, urges, and memories, which otherwise would be barriers to their goal.<br><br>
    To learn more about this practice, visit:<br> <a href="https://www.psychotherapy.net/article/Acceptance-and-Commitment-Therapy-ACT#section-how-does-act-differ-from-other-mindfulness-based-approaches?">https://www.psychotherapy.net/article/Acceptance-and-Commitment-Therapy-ACT</a>
  </p>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
