<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/script.js"></script>
    <title>{% block title %} {% endblock %} Here Now Psychotherapy</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div id="fullcontainer">
      <header>
	<ul id="menubar">
	  <li id="logoli"> <img id="menubarlogo" src="/static/img/WhiteonTransparent.png"> </li>
	  <li> <a href="/"> HOME </a> </li>
	  <li> <a href="/about"> ABOUT </a> </li>
	  <li> <a href="/services"> SERVICES & FEES </a> </li>
	  <li> <a href="/contact"> CONTACT </a> </li>
	</ul>
      </header>
      
      {% block content %}
      {% endblock %}
<!--      
      <footer>
	<p> Sherry Thomas, MA, LMHCA, CDP, MHP </p>
	<p> Cell phone: (206) 567-1973 </p>
	<p> HereNowPsychotherapyCounseling.com </p>
	<p> Seattle, WA </p>
      </footer>
-->
    </div>
  </body>
</html>
