<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/script.js"></script>
    <title>{% block title %} {% endblock %} Here Now Psychotherapy Counseling | Seattle Wa</title>
    <meta charset="UTF-8">
    <meta name="description" content="Herenowpsychotherapycounseling providing Counseling and Psychotherapy in Seattle U-District. Therapy for Mental Health, Addiction and Substance Abuse, EMDR, Somatic Therapies, Internal Family Systems, Cognative Behavioral Therapies, Acceptance Commitment Therapy, Psychodynamic Therapy, Deep Brain Reorienting (DBR), Safe and Sound Protocol.">
    <meta name="keywords" content="therapy psychotherapy counseling trauma mental health anxiety depression">
    <meta name="author" content="HereNowPsychotherapyCounseling">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div id="fullcontainer">
      <header>
	<ul id="menubar">
	  <li id="logoli"> <img id="menubarlogo" src="/static/img/WhiteonTransparent.png" alt="Here Now Psychotherapy Counseling"> </li>
	  <li> <a href="/"> HOME </a> </li>
	  <li> <a href="/about"> ABOUT </a> </li>
	  <li> <a href="/services"> SERVICES & FEES </a> </li>
	  <li> <a href="/contact"> GET STARTED / CONTACT </a> </li>
	<!-- Start SimplePractice Booking Widget Embed Code
	<style>.spwidget-button-wrapper{text-align: center}.spwidget-button{display: inline-block;padding: 12px 24px;color: #fff !important;background: #de6a26;border: 0;border-radius: 4px;font-size: 16px;font-weight: 600;text-decoration: none}.spwidget-button:hover{background: #d15913}.spwidget-button:active{color: rgba(255, 255, 255, .75) !important;box-shadow: 0 1px 3px rgba(0, 0, 0, .15) inset}</style>
	<div class="spwidget-button-wrapper"><a href="https://sherry-thomas.clientsecure.me" class="spwidget-button" data-spwidget-scope-id="50268b28-6ac7-4964-9324-150c75e16aeb" data-spwidget-scope-uri="sherry-thomas" data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b" data-spwidget-scope-global data-spwidget-autobind>Schedule Now / Consult Phone Call</a></div>
	<script src="https://widget-cdn.simplepractice.com/assets/integration-1.0.js"></script>
	<!-- End SimplePractice Booking Widget Embed Code -->
	</ul>
      </header>
      
      {% block content %}
      {% endblock %}
      {% block footer %}
      <footer>
	<p>Here Now Psychotherapy & Counseling, Sherry Thomas, MA, LMHC, SUDP.</p>
	<br>
	<p>My office is in the University District neighborhood of Seattle, Wa. 2 blocks from the light rail station on 45th Street. The address will be provided upon appointment. Call or text: (206) 567-1973. Copyright 2020-2021</p>
      </footer>
      {% endblock %}

    </div>
  </body>
</html>
