{% extends "base.html" %}

{% block title %}Children and Adolescents{% endblock %}

{% block content %}
<div class="left">
  <img src="static/img/child.jpg" class="serviceimg">
</div>
<div class="right">
  <h1>Children And Adolescents</h1>
  <p>My career prior to becoming a therapist was working with youth. My work in substance use disorders started in a clinic serving adolescents and young adults and morphed into a prevention/intervention counselor position at a local middle school. While there, it was the kids telling me, “I want to talk to YOU about my mental health stuff!” that led me back to school to become a psychotherapist. I supported myself in graduate school with part time work with Seattle Public Schools, where I worked in elementary schools serving trauma-impacted kids. I pay homage to all the kids I worked with, those who connected with me, and those who turned away. They kept me motivated, showed me, and filled my life force.<br><br>
    Prior to those jobs, I worked for over 10 years in early childhood education, in a therapeutic preschool setting and later as a mentor to other educators.<br><br>
    In support of the therapeutic container, what is said in treatment, stays between us. Unless there are issues of harm, without a child’s or adolescents’ permission, I do not share what is talked about with parents/care givers. This work is strength based and trauma informed.<br><br> 
It is well known that play is the most natural self-healing process in childhood; they play-out their feelings, while an adult might talk out theirs. My main modality in working with children, therefore, is play therapy.<br><br>
    Like all my other work, my work with adolescents is client centered. I respect and honor my clients where they are right now. If they do not want to be in my office, we can use the time doing something other than focusing on what is wrong: without a sincere connection, the therapy is going nowhere. By keeping our relationship real, clients open.<br><br>
    For both children and adolescents, I infuse CBT+ (cognitive behavioral therapy for children and adolescents with depression, anxiety, adjustment disorders, behavior problems and trauma), somatic therapies, mindfulness, DBT (Dialectical Behavior Therapy) and EMDR (Eye Movement Desensitization and Reprocessing) as deemed clinically appropriate.<br><br>
    I can also provide parent coaching and do adjunct work with a family therapist.
  </p>
</div>
{% endblock %}
