{% extends "base.html" %}

{% block title %}Cognitive Behavioral Therapy{% endblock %}

{% block content %}
<div class="left">
  <img src="static/img/psychology.png" class="serviceimg">
  <div id="servicequote">
    <p>“If our thinking is bogged down by distorted symbolic meanings, illogical reasoning and erroneous interpretations, we become, in truth, blind and deaf.”</p>
    <h2>-Aaron Beck</h2>
  </div>
</div>
<div class="right">
  <h1>Cognitive Behavioral Therapy (CBT)</h1>
  <p> Our thoughts and beliefs are linked directly to our behaviors and our emotions, if we change one inevitably the others will change as well. With this therapy we might engage in behavioral activation, role play, or explore use of language and find how it might be limiting and lead to distorted thoughts and faulty beliefs. This therapy is effective in treating several ailments that bring people into therapy, such as depression, anxiety, relationship problems and substance abuse, to name only a few. To learn more about this treatment check out: <a href="https://www.apa.org/ptsd-guideline/patients-and-families/cognitive-behavioral">https://www.apa.org/ptsd-guideline/patients-and-families/cognitive-behavioral</a>
  </p>
</div>
{% endblock %}
