{% extends "base.html" %}
{% block title %}Contact | {% endblock %}

{% block content %}
<div id="contacttext">
  <p>Currently I am providing video sessions via Doxy.me, a hippaa compliant teleheath platform, or telephone.<br><br>
    Office is located in the Fremont neighborhood, close to 45th st & Fremont Ave North. Address provided upon appointment.</p>
</div>
<br>
<div id="contact_wrapper">
  <form id="contactform" action="/email">
    <label for="name">Name: </label><br>
    <input type="text" id="name" name="name"><br>
    <label for="email">Email: </label><br>
    <input type="text" id="email" name="email"><br>
    <label for="message">Message: </label><br>
    <textarea rows=12 cols=10 id="message" name="message"></textarea>
    <input type="submit" value="Send" />
  </form>
  <p id="response"></p>
</div>

{% endblock %}
