{% extends "base.html" %}
{% block title %}Contact | {% endblock %}

{% block content %}
<div class="contacttext">
  <p>
    Currently I am providing video sessions with a HIPAA compliant teleheath platform. For those who are vaccinated, pass a Covid screening, temperature check and wear masks, in person sessions are available. My office is thoroughly sanitized before and after each session, has a HEPA air filter, and seating maintains 6 foot distancing.
    <br>
    My working hours are Tuesday-Saturday first appointment at 11am and the last at 6pm. I respond to emails and phone calls within these hours.
    <!-- Start SimplePractice Booking Widget Embed Code -->
    <style>.spwidget-button-wrapper{text-align: center}.spwidget-button{display: inline-block;padding: 12px 24px;color: #fff !important;background: #de6a26;border: 0;border-radius: 4px;font-size: 16px;font-weight: 600;text-decoration: none}.spwidget-button:hover{background: #d15913}.spwidget-button:active{color: rgba(255, 255, 255, .75) !important;box-shadow: 0 1px 3px rgba(0, 0, 0, .15) inset}</style>
    <div class="spwidget-button-wrapper"><a href="https://sherry-thomas.clientsecure.me" class="spwidget-button" data-spwidget-scope-id="50268b28-6ac7-4964-9324-150c75e16aeb" data-spwidget-scope-uri="sherry-thomas" data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b" data-spwidget-scope-global data-spwidget-autobind>Schedule Now / Consult Phone Call</a></div>
    <script src="https://widget-cdn.simplepractice.com/assets/integration-1.0.js"></script>
    <!-- End SimplePractice Booking Widget Embed Code -->

    <br>
    Office is located in the University District neighborhood of Seattle, Wa. 2 blocks from the light rail station on 45th Street. Address provided upon appointment. 
    <br><br>
    Phone: (206) 567-1973
    <br>
  </p>
</div>
<br>
<div class="contacttext">
  <p>Still have questions? Email me in the form below</p>
</div>
<br>
<div id="contact_wrapper">
  <form id="contactform" action="/email">
    <label for="name">Name: </label><br>
    <input type="text" id="name" name="name"><br>
    <label for="email">Email: </label><br>
    <input type="text" id="email" name="email"><br>
    <label for="message">Message: </label><br>
    <textarea rows=12 cols=10 id="message" name="message"></textarea>
    <input type="submit" value="Send" />
  </form>
  <p id="response"></p>
</div>

{% endblock %}
