{% extends 'base.html' %}

{% block title %} EMDR {% endblock %}

{% block content %}
<div class="top">
  <img src="static/img/brain.webp" id="serviceimg">
  <div id="servicequote">
    <p>“Recovery doesn’t mean the damage never existed. It simply means it no longer controls you.”<br>Unknown</p>
  </div>
</div>
<div class="belowless">
  <h1>Deep Brain Reorienting (DBR)</h1>
  <p>
    Deep Brain Reorienting (DBR) is a guided mindfulness-based psychotherapy that focuses on healing the roots of traumatic experiences and attachment shock by intentionally attending to the very first ways the nervous system orients and activates when there is lack of physical and/or emotional safety.  
    <br>
    Noticing, staying with, and ultimately releasing the muscle tensions that arise from these deep parts of the brain allows the body to clear the shock, bracing, and tension associated with the trauma.  This paves the way for successfully processing any related emotions.
    <br>
    Staying with these sensations in the face and neck also provides an anchor point, so that the person processing their memories is less likely to be flooded by high intensity emotions, or to become absent (dissociated) when processing. Many people find this is a gentler, yet deeper, approach than other trauma-focused therapies.
    <br>
    Deep Brain Reorienting is a “bottom-up” approach, meaning the processing happens through staying present with physical sensation and internal awareness, rather than through cognitions and words. It is also guided by current and developing research in neuroscience. To learn more, visit <a href-"https://deepbrainreorienting.com/">https://deepbrainreorienting.com/</a>.
  </p>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
