{% extends 'base.html' %}

{% block title %} EMDR {% endblock %}

{% block content %}
<div class="top">
  <img src="static/img/nerve-cell.jpg" id="serviceimg">
  <div id="servicequote">
    <p>“You can outdistance that which is running after you, but you cannot outdistance that which is running inside you.” <br>-African Proverb</p>
  </div>
</div>
<div class="belowless">
  <h1>Eye Movement Desensitization and Reprocessing</h1>
  <p>Eye Movement Desensitization and Reprocessing (EMDR) is a special kind of therapy that treats problems at their roots. It does not require in depth discussion or analyzing of what happened, rather the treatment helps clients identify when the belief that has manifested into the current problem first started. It then uses eye movements (or other means of bilateral stimulation) to help the brain process the events that led to the belief and experience it in a new way. This processing allows memories to become integrated into life’s experiences and stored in the memory bank, to be retrieved at one’s discretion, as opposed to the memory being fractured. Fractured memories do not get processed and stored in the memory bank; they are left floating around in one’s brain, interfering in daily interactions every time something seemingly unrelated, touches and awakens them.<br><br>
    To learn more about EMDR therapy, visit the EMDR International Association website:<br> <a href="https://www.emdria.org/about-emdr-therapy/">https://www.emdria.org/about-emdr-therapy/</a></p>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
