{% extends "base.html" %}
{% block title %} Fees | {% endblock %}

{% block content %}
<div id="feewrapper">
  <h1> Fees </h1>
  <p>
    Finding a therapist who is a good fit will allow you to get the most out of your therapy experience.<a href="https://herenowpsychotherapycounseling.com/contact">I offer a free 20 minute phone consultation</a>,  with no obligation, to help you determine whether my practice aligns with your current needs. If so, the next step will be to schedule an initial therapy session.
  </p>
  <p>
    In order to make my practice accessible to a broad range of people, I use <a href="https://www.wortsandcunning.com/blog/sliding-scale">The Green Bottle Method</a>, developed by Alexis Cunningfolk, to manage my fees. It is a sliding scale that encourages people to pay according to their available resources. Those with greater financial privilege contribute more, allowing those with less access, to pay according to their means. Please use graphic below to determine which tier you fall under, and what you will pay. I honor your choice and will not be asking for verification. Note: the green shade on the graphic is meant only to illustrate the level of resource.
  </p>
  <ul>
    <li> Tier 3 please pay $200/50 minute session </li>
    <li> Tier 2 please pay $180/50 minute session </li>
    <li> Tier 1 please pay $165/50 minute session </li>
  </ul>
  <img class="feesimg" src="static/img/greenbottle.png" alt="The Green Bottle Method">
  <p>
    I also do not work with insurance. Some insurance plans offer out of network benefits. As requested, I will provide a monthly summary bill for clients who want to apply for reimbursement through insurance companies. If you are wanting to do this, please inquire with your insurance company with the following questions:
  </p>
  <ul>
    <li>Do I have mental health insurance benefits?</li>
    <li>Does my plan cover out of network providers?</li>
    <li>What is my out of network deductible, and have I met it yet this year?</li>
    <li>What is the out of network reimbursement rate for the CPT code 90837?</li>
    <li>How many sessions per year does my health insurance cover?</li>
    <li>What is the coverage amount per therapy session?</li>
    <li>Is approval required from my primary care physician?</li>
    <li>How long does it take to get reimbursed?</li>
    <li>Are there any other restrictions I should know about?</li>
  </ul>
</div>
{% endblock %}
  
