{% extends "base.html" %}

{% block title %}Internal Family Systems{% endblock %}

{% block content %}
<div class="top">
  <img src="static/img/stones.jpg" id="serviceimg">
  <div id="servicequote">
    <p>“All parts are welcome and valuable.” <br>-Richard Schwartz</p>
  </div>
</div>
<div class="belowless">
  <h1>Internal Family Systems (IFS)</h1>
  <p>The Internal Family Systems model of therapy seeks to understand and heal internal conflict. This model identifies positions and perspectives of differing “parts of the self”. By honoring each part, with compassion, it gives them the attention, focus and voice they are needing to express. This work allows parts to become integrated, leading to a more lucid, grounded, and calm self.<br><br>
  To learn more about this practice, visit <a href="https://ifs-institute.com/">https://ifs-institute.com/</a>
  </p>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
