{% extends "base.html" %}

{% block title %}Psychodynamic Therapy{% endblock %}

{% block content %}
<div class="left">
  <img src="static/img/underwater.jpg" class="serviceimg">
</div>
<div class="right">
  <h1>Psychodynamic Therapy</h1>
  <p> The psychodynamic orientation of therapy is a form of depth psychology. It seeks to make the unconscious, conscious so that one may come to understand the root of their struggles and find ways to overcome them. In this practice, clients talk about whatever is on their mind; thoughts and feelings are explored, revealing, over time, patterns in the unconscious which point to unresolved conflicts and significant events in the past. To learn more about this practice please visit:<a href="https://positivepsychology.com/psychodynamic-therapy/#:~:text=Psychodynamic%20therapy%20involves%20the%20interpretation,insight%20into%20their%20current%20self"> https://positivepsychology.com/psychodynamic-therapy/</a>
  </p>
</div>
{% endblock %}
