{% extends 'base.html' %}

{% block title %}  Safe and Sound Protocol (SSP) {% endblock %}

{% block content %}
<div class="top">
  <img src="static/img/brainvains.png" id="serviceimg" style="width: 15%; margin-left: 10%">
  <div id="servicequote">
    <p>"Safety is not a cognitive experience, it's an embodied experience." <br>- Deb Dana</p>
  </div>
</div>
<div class="belowless">
  <h1> About the Safe and Sound Protocol (SSP)</h1>
  <p>
The Safe and Sound Protocol (SSP) is an 
evidence-based listening therapy designed to reduce sound sensitivities and improve auditory processing, behavioral state regulation, and social engagement behaviors through filtered music.
<br>
As a practical application of Polyvagal Theory, the SSP acts as a non-invasive, acoustic vagal nerve stimulator, helping to re-tune the nervous system to better support connection, collaboration and resilience.
<br>
The SSP involves listening to specially filtered music through headphones alongside a provider, in-person or remotely. Suitable for children and adults, the SSP has demonstrated benefits for individuals with trauma, anxiety, sensory processing differences and more.
<br>
  </p>
  <h1>Highlights of the SSP</h1>
  <ul>
    <li><p> A five-hour auditory intervention developed and patented by Dr. Stephen Porges, author of the Polyvagal Theory. </p></li>
    <li><p> Designed to reduce sound sensitivity, and improve auditory processing and behavioral state regulation. </p></li>
    <li><p> Activates the client’s social engagement system, helping to accelerate and enhance therapeutic outcomes. </p></li>
    <li><p> Supports physiological state regulation, allowing for greater resilience.</p></li>
  </ul>
  <h1>Polyvagal Theory: the Science of Feeling Safe</h1>
  <p>
    Developed by world-renowned researcher and Unyte’s Chief Scientific Advisor, Dr. Stephen Porges, Polyvagal Theory focuses on what is happening in the body and the nervous system, and explains how our sense of safety, danger or life-threat can impact our behavior.<br>
Understanding Polyvagal Theory gives us a scientific framework that can be applied through physiological, or “bottom-up” therapies, to help change and improve how we feel, think and connect with others. 
  </p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/GCRmkGSdN_0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<br>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
