{% extends 'base.html' %}

{% block title %}  Safe and Sound Protocol (SSP) {% endblock %}

{% block content %}
<div class="top">
  <img src="static/img/bwbrain.png" id="serviceimg">
  <div id="servicequote">
    <p>"Safety is not a cognitive experience, it's an embodied experience." <br>- Deb Dana</p>
  </div>
</div>
<div class="belowless">
  <h1> Safe and Sound Protocol (SSP)</h1>
  <p>
The Safe and Sound Protocol (SSP) is an 
evidence-based listening therapy designed to reduce sound sensitivities and improve auditory processing, behavioral state regulation, and social engagement behaviors through filtered music.
<br>
As a practical application of Polyvagal Theory, the SSP acts as a non-invasive, acoustic vagal nerve stimulator, helping to re-tune the nervous system to better support connection, collaboration and resilience.
<br>
The SSP involves listening to specially filtered music through headphones alongside a provider, in-person or remotely. Suitable for children and adults, the SSP has demonstrated benefits for individuals with trauma, anxiety, sensory processing differences and more.
<br>
  </p>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/GCRmkGSdN_0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
