{% extends "base.html" %}
{% block title %}Services and Fees | {% endblock %}

{% block content %}
<div id="servicewrapper">
  <h1>Fees</h1>
  <p>I offer 50-minute individual therapy sessions for children, adolescents, and adults at the rate of $115.<br>
Payment of the first session is contingent on whether you would like to work with me.<br>
Currently, I am not working with insurance.<br>
    As requested, I will provide monthly summary bills for clients who want to apply for reimbursement through their insurance company.</p>

  <ul id="services">
    <li>
      <a href="/EMDR" style="display:block">
	<h1>EMDR</h1>
	<img src="static/img/nerve-cell.jpg">
      </a>
    </li>
    <li>
      <a href="/substanceusedisorders" style="display:block">
	<h1>SUBSTANCE USE DISORDERS</h1>
	<img src="static/img/countryside.jpg">
      </a>
    </li>
    <li>
      <a href="/childrenandadolescents" style="display:block">
	<h1>CHILDREN AND ADOLESCENTS</h1>
	<img src="static/img/child.jpg">
      </a>
    </li>
    <li>
      <a href="/somatictherapies" style="display:block">
	<h1>SOMATIC THERAPIES</h1>
	<img src="static/img/males.jpg">
      </a>
    </li>
    <li>
      <a href="/internalfamilysystems" style="display:block">
	<h1>INTERNAL FAMILY SYSTEMS</h1>
	<img src="static/img/stones.jpg">
      </a>
    </li>
    <li>
      <a href="/cognitivebehavioraltherapy" style="display:block">
	<h1>COGNITIVE BEHAVIORAL THERAPY</h1>
	<img src="static/img/underwater.jpg">
      </a>
    </li>
    <li>
      <a href="/acceptanceandcommitmenttherapy" style="display:block">
	<h1>ACCEPTANCE AND COMMITMENT THERAPY</h1>
	<img src="static/img/brain.png">
      </a>
    </li>
  </ul>
</div>
{% endblock %}
