{% extends "base.html" %}
{% block title %}Services and Fees | {% endblock %}

{% block content %}
<div id="servicewrapper">
  <div id="servicesandfees">
    <h1>Services</h1> 
    <p>
      The most important aspect of therapy is the relationship between the client and therapist. Above all, my goal is to provide a safe and inviting space in which clients can allow their inner selves to flow freely, experience loving kindness and come to a place of acceptance of themselves. Carl Rogers speaks the truth: “The curious paradox is that when I accept myself just as I am, then I can change.”<br><br>
      Because every individual is unique, there is no single ‘best way’ in therapy. My practice is eclectic, drawing from many diverse schools of psychology, click on the boxes below for details.
    </p>
    <h1>Fees</h1>
    <p>
      Finding a therapist who is a good fit will allow you to get the most out of your therapy experience. <a href="/contact">I offer a free 20 minute phone consultation</a>, with no obligation, to help you determine whether my practice aligns with your current needs. If so, the next step will be to schedule an initial therapy session.<br><br>
      
      I offer 50-minute individual therapy sessions for children, adolescents, and adults at the rate of $120.<br><br>

      Currently, I am not working with insurance.<br><br>

      As requested, I will provide monthly summary bills for clients who want to apply for reimbursement through their insurance company. If you are wanting to do this, please inquire with your insurance company with the following questions: <br>
      <ul>
	<li>
	  Do I have mental health insurance benefits?
	</li>
	<li>
	  Does my plan cover out of network providers?
	</li>
	<li>
	  What is my out of network deductible and have I met it yet this year?
	</li>
	<li>
	  Will you cover services by a Licensed Mental Health Counselor Associate (LMHCA)?
	</li>
	<li>
	  What is the out of network reimbursement rate for the CPT code 90837?
	</li>
	<li>
	  How many sessions per year does my health insurance cover?
	</li>
	<li>
	  What is the coverage amount per therapy session?
	</li>
	<li>
	  Is approval required from my primary care physician?
	</li>
	<li>
	  How long does it take to get reimbursed?
	</li>
	<li>
	  Are there any other restrictions I should know about?
	</li>
	</ul>
    </p>

    
  </div>
  <ul id="services">
    <li>
      <a href="/EMDR" style="display:block">
	<h1>EMDR</h1>
	<img class="servimg" src="static/img/nerve-cell.jpg">
      </a>
    </li>
    <li>
      <a href="/substanceusedisorders" style="display:block">
	<h1>Substance seE Disorders</h1>
	<img class="servimg" src="static/img/countryside.jpg">
      </a>
    </li>
    <li>
      <a href="/childrenandadolescents" style="display:block">
	<h1>Children and Adolescents</h1>
	<img class="servimg" src="static/img/child.jpg">
      </a>
    </li>
    <li>
      <a href="/somatictherapies" style="display:block">
	<h1>Somatic Therapies</h1>
	<img class="servimg" src="static/img/males.jpg">
      </a>
    </li>
    <li>
      <a href="/internalfamilysystems" style="display:block">
	<h1>Internal Family Systems</h1>
	<img class="servimg" src="static/img/stones.jpg">
      </a>
    </li>
    <li>
      <a href="/cognitivebehavioraltherapy" style="display:block">
	<h1>Cognitive Behavioral Therapy</h1>
	<img class="servimg" src="static/img/psychology.png">
      </a>
    </li>
    <li>
      <a href="/acceptanceandcommitmenttherapy" style="display:block">
	<h1>Acceptance Commitment Therapy</h1>
	<img class="servimg" src="static/img/brain.png">
      </a>
    </li>
    <li>
      <a href="/psychodynamictherapy" style="display:block">
	<h1>Psycho Dynamic Therapy</h1>
	<img class="servimg" src="static/img/underwater.jpg">	
      </a>
    </li>
    <li>
      <a href="/sexualityandgender" style="display:block">
	<h1>Sexuality and Gender</h1>
	<img class="servimg" src="static/img/family.png">	
      </a>
    </li>
  </ul>
</div>
{% endblock %}
