{% extends "base.html" %}
{% block title %}Services and Fees | {% endblock %}

{% block content %}
<div id="servicewrapper">
  <p>I offer 50-minute individual therapy sessions for children, adolescents, and adults at the rate of $115.<br>
Payment of the first session is contingent on whether you would like to work with me.<br>
Currently, I am not working with insurance.<br>
    As requested, I will provide monthly summary bills for clients who want to apply for reimbursement through their insurance company.</p>

  <ul id="services">
    <li>
      <h1>EMDR</h1>
      <img src="static/img/nerve-cell.jpg">
      <p>Eye Movement Desensitization and Reprocessing (EMDR) is a special kind of therapy that treats problems at their roots. It does not require in depth discussion or analyzing of what happened, rather the treatment helps clients identify when the belief that has manifested into the current problem first started. It then uses eye movements (or other means of bilateral stimulation) to help the brain process the events that led to the belief and experience it in a new way. This processing allows memories to become integrated into life’s experiences and stored in the memory bank, to be retrieved at one’s discretion, as opposed to the memory being fractured. Fractured memories do not get processed and stored in the memory bank; they are left floating around in one’s brain, interfering in daily interactions every time something seemingly unrelated, touches and awakens them.<br>
	To learn more about EMDR therapy, visit the EMDR International Association website: <a href="https://www.emdria.org/about-emdr-therapy/">https://www.emdria.org/about-emdr-therapy/</a></p>
    </li>
    <li>
      <h1>SUBSTANCE USE DISORDERS</h1>
      <img src="static/img/countryside.jpg">
      <p>I am a licensed Substance Use Disorder Professional, as such our work together may meet your needs if you are in legal trouble.
There is a rumor floating around in many addiction recovery groups, let’s to put an end to it here: YOU DON’T HAVE TO HIT ROCK BOTTOM IN ORDER TO STOP SUBSTANCE ABUSE! You do however, need to be intentional about it.<br>
Recovery can happen with or without 12-step groups; if you hate them, let us do something different. Whichever path you choose; it is hard work and you do not have to trudge it alone.<br>
In my work with clients facing substance abuse issues, I provide psycho-education about underlying factors that keep folks stuck in their use, I help clients develop tools to face what shows up once they stop using, and I can connect clients with medication assisted treatments through referrals if need be. I provide a non-judgmental space for clients to explore their experiences with their use… and help them manifest a new life.  
      </p>
    </li>
    <li>
      <h1>CHILDREN AND ADOLESCENTS</h1>
      <img src="static/img/child.jpg">
      <p>My career prior to becoming a therapist was working with youth. My work in substance use disorders started in a clinic serving adolescents and young adults and morphed into a prevention/intervention counselor position at a local middle school. While there, it was the kids telling me, “I want to talk to YOU about my mental health stuff!” That led me back to school to become a psychotherapist. I supported myself in graduate school with part time work with Seattle Public Schools, where I worked in an elementary school serving trauma-impacted kids. I pay homage to all the kids I worked with, those who connected with me, and those who turned away. They kept me motivated and filled my life force.<br>
Prior to those jobs, I worked for over 10 years in early childhood education, in a therapeutic preschool setting and later as a mentor to other educators.<br>
In my work with children and adolescents, I aim to create a safe space where clients are free to express themselves and metabolize experiences. My work is strength based and trauma informed.<br>
My main modality in working with children is play therapy, it is well known that play is the most natural self-healing process in childhood; they play-out their feelings, while an adult might talk out theirs.<br>
Like all my other work, my work with adolescents is client centered. I respect and honor my clients where they are right now. If they do not want to be in my office, we can use the time doing something other than focusing on what is wrong: without a sincere connection, the therapy is going nowhere. By keeping our relationship real, clients open.<br> 
For both children and adolescents, I infuse CBT+ (cognitive behavioral therapy for children and adolescents with depression, anxiety, adjustment disorders, behavior problems and trauma), somatic therapies, mindfulness, DBT (Dialectical Behavior Therapy) and EMDR (Eye Movement Desensitization and Reprocessing) as deemed clinically appropriate.<br>
I can also provide parent coaching and do adjunct work with a family therapist.
</p>
    </li>
    <li>
      <h1>SOMATIC THERAPIES</h1>
      <p>The soma is the body. Somatic therapies are a relatively new realm of psychology. Science is discovering neurons in other parts of the body than the brain: for example, they are in the gut and in the heart. Nothing shocking here, right? It has been said that the body is an extension of the mind, or that it is the subconscious mind. When we tune into our bodies and learn to listen to it, therapy goes straight to the heart of things and it goes deep. The conscious mind has all kinds of defenses that deceive us, the body does not. Somatic therapies are known as “bottom up therapies” as they start from the bottom of the brain (the brain stem or body), whereas CBT and other talk therapies are known as “top down therapies” as they start at the top of the brain (the prefrontal cortex). <br>
I have been trained in Hakomi, Sensorimotor Psychotherapy and The Trauma Resiliency Model, which are all somatic therapies.<br> 
"Hakomi" is a Hopi Indian word meaning, "How do you stand in relation to these many realms?" This was their ancient way of saying "Who are you?" and is an appropriate description for this therapeutic process, a process in which therapist and client explore the complex web of relationships which form our personal identities. This practice is based on a specific set of principles: Mind/Body Connection, Organicity, Nonviolence Mindfulness and Unity. If you would like to learn more about Hakomi, please refer to their website: <a href="https://hakomiinstitute.com/about/the-hakomi-method">https://hakomiinstitute.com/about/the-hakomi-method.</a><br>
Sensorimotor Psychotherapy is a branch of Hakomi therapy that focuses on differentiating and noticing how You can learn more about this therapy by visiting their website: <a href="https://sensorimotorpsychotherapy.org/about/">https://sensorimotorpsychotherapy.org/about/.</a><br>
The Trauma Resiliency Model teaches skills for clients to use when their automatic survival responses are activated at times when they are not helpful. To learn more about this practice, visit their website: <a href="https://www.traumaresourceinstitute.com/">https://www.traumaresourceinstitute.com/.</a><br><br>
Internal Family Systems (IFS)
</p>
    </li>
  </ul>
</div>
{% endblock %}
