{% extends "base.html" %}

{% block title %}Sexuality and Gender{% endblock %}

{% block content %}
<div class="left">
  <img src="static/img/family.png" class="serviceimg">
  <div id="servicequote">
    <p>“The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart.”</p>
    <h2>-Helen Keller</h2>
  </div>
</div>
<div class="right">
  <h1>Sexuality and Gender</h1>
  <p>
    As an ally of all gender identities and in support of all consensual sex, it is with great honor that I work with clients wanting to explore, discover, express, accept and celebrate their gender and sexuality. I am sex-positive, body-positive, kink friendly and supportive of the asexual experience. In short, when it is consensual, I support you in your experience.<br><br>
    In addition to providing a safe & sacred space, I am here to witness and document your readiness for medical assistance with any gender confirmation services you might need.<br><br>
    I am here too, to support you in your quest to accept the gender identity and sexuality of others in your life.
  </p>
</div>
{% endblock %}
