{% extends "base.html" %}

{% block title %}Somatic Therapies{% endblock %}

{% block content %}
<div class="left">
  <img src="static/img/males.jpg" class="serviceimg">
</div>
<div class="right">
  <h1>Somatic Therapies</h1>
  <p>The soma is the body. Somatic therapies are a relatively new realm of psychology. Science is discovering neurons in other parts of the body than the brain: for example, they are in the gut and in the heart. Nothing shocking here, right? It has been said that the body is an extension of the mind, or that it is the subconscious mind. When we tune into our bodies and learn to listen to it, therapy goes straight to the heart of things and it goes deep. The conscious mind has all kinds of defenses that deceive us, the body does not. Somatic therapies are known as “bottom up therapies” as they start from the bottom of the brain (the brain stem or body), whereas CBT and other talk therapies are known as “top down therapies” as they start at the top of the brain (the prefrontal cortex). <br><br>
    I have been trained in Hakomi, Sensorimotor Psychotherapy and The Trauma Resiliency Model, which are all somatic therapies.<br><br> 
    "Hakomi" is a Hopi Indian word meaning, "How do you stand in relation to these many realms?" This was their ancient way of saying "Who are you?" and is an appropriate description for this therapeutic process, a process in which therapist and client explore the complex web of relationships which form our personal identities. This practice is based on a specific set of principles: Mind/Body Connection, Organicity, Nonviolence Mindfulness and Unity. If you would like to learn more about Hakomi, please refer to their website: <a href="https://hakomiinstitute.com/about/the-hakomi-method">https://hakomiinstitute.com/about/the-hakomi-method.</a><br><br>
    Sensorimotor Psychotherapy branched out of Hakomi, enriched by contributions from the fields of attachment, neuroscience, and dissociation. It uses bodily experience as a primary entry point in trauma therapy, rather than the events of the “story”; the therapy attends to how the body is processing information and its linkage to thoughts, beliefs and emotions. You can learn more about this therapy by visiting their website: <a href="https://sensorimotorpsychotherapy.org/about/">https://sensorimotorpsychotherapy.org/about/.</a><br><br>
    The Trauma Resiliency Model teaches skills for clients to use when their automatic survival responses are activated at times when they are not helpful. To learn more about this practice, visit their website: <a href="https://www.traumaresourceinstitute.com/">https://www.traumaresourceinstitute.com/.</a><br><br>
  </p>
</div>
{% endblock %}
