{% extends "base.html" %}

{% block title %} Substance Use Disorder {% endblock %}

{% block content %}
<div class="left">
  <img src="static/img/countryside.jpg" class="serviceimg">
</div>
<div class="right">
  <h1>Substance Use Disorders</h1>
  <p>I am a licensed Substance Use Disorder Professional, as such our work together may meet your needs if you are in legal trouble.
There is a rumor floating around in many addiction recovery groups, let’s to put an end to it here: YOU DON’T HAVE TO HIT ROCK BOTTOM IN ORDER TO STOP SUBSTANCE ABUSE! You do however, need to be intentional about it.<br>
    Recovery can happen with or without 12-step groups; if you hate them, let us do something different. Whichever path you choose; it is hard work and you do not have to trudge it alone.<br>
    In my work with clients facing substance abuse issues, I provide psycho-education about underlying factors that keep folks stuck in their use, I help clients develop tools to face what shows up once they stop using, and I can connect clients with medication assisted treatments through referrals if need be. I provide a non-judgmental space for clients to explore their experiences with their use… and help them manifest a new life.  
  </p>
</div>
{% endblock %}
